<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MW2_4D1_External_ESP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <MW2_4D1_External_ESP.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DistanceToPlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeadPlayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HostilePlayerWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DistanceType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OnlyHostilePlayers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerNameColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DistanceToPlayerColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DeadPlayerColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="FriendlyColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="HostileColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </MW2_4D1_External_ESP.Properties.Settings>
    </userSettings>
</configuration>
